# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- python
- R
- java
- swift

## Some of the popular languages that Data Scientists use are:
1. python
2. Java
3. SQL
4. Swift

## Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. SciPy
5. Keras

| Data science tools |
------------------------------
Jupyter notebook
RStudio
Hadoop

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
(3*4)+5

17

### This will convert 200 minutes to hours by diving by 60

In [2]:
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
Abhishek Adhikari